USER_NAME='John Toe' # replace with your own name. Only used in test.py

DATABASE_PATH=test.db # a sample database. feel free to use your own and set this to that file's path.

CREDENTIALS_PATH=credentials.json # you need to make this 
TOKEN_PATH=token.json # should be made automatically, this just controls where it goes/is read from.

SCOPES='https://www.googleapis.com/auth/calendar,https://mail.google.com/' # these give total permissions to the bot, even if the functions it has access to are limited in scope. You should change these to only what you feel comfortable with giving it access to.

# debugging controls.
LOG_TO_CONSOLE=false
LOG_LEVEL=DEBUG

COHERE_API_KEY=<cohere api key> # replace this with a cohere API key
